    body {
        /* background-color: green; */
        background-image: url(../images/photo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px;
    }
    
    #welcome {
        font-size: 50px;
    }
    
    .welcome {
        position: relative;
        background-image: -webkit-linear-gradient(#378DBC 0%, #B6E8F1 46%, #ffffff 50%, #32120E 54%, #FFC488 58%, #582C11 90%, #EC9B4E 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 4px #f5f5f5;
        font-size: 200px;
        font-family: 'Titillium Web', sans-serif;
        font-style: italic;
        margin: 0;
        line-height: 1;
    }
    
    .welcome:before {
        /* content: 'CHROME'; */
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
        background-position: -680px 0;
        /* -webkit-background-clip: text;
        -webkit-text-stroke: 0;
        padding-right: 300px;
        -webkit-animation-name: chrome_effect;
        -webkit-animation-duration: 6s;
        -webkit-animation-delay: 2s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite; */
    }
    
    button {
        margin-top: 25px;
        /* margin-right: 0px; */
        margin-left: 5px;
        line-height: 43px;
        font: 15px;
        font-weight: bold;
        padding: 7px 40px;
        background: salmon;
        border: none;
        border-radius: 50px;
    }
    
    button:hover {
        background: lightsalmon;
    }
    
    #start {
        margin-top: 35px;
        border-radius: 20px;
        font-size: 30px;
        background-color: #EC9B4E;
        color: #378DBC;
        border: 3px solid black;
    }
    
    .text-box {
        margin-top: 20px;
        margin-left: 380px;
        border-radius: 20px;
        width: 600px;
        height: 400px;
        background-color: gray;
        border: 3px solid purple;
        text-align: center;
    }
    
    .question {
        border-radius: 0px;
    }
    
    .nameBox {
        /* margin-left: -153px; */
        margin-top: 25px;
        width: 150px;
        height: 25px;
        font-size: 15px;
        border: 3px solid black;
    }
    
    .answerBox {
        margin-top: -3px;
        border-radius: 0px;
    }
    
    .nextBox {
        margin-top: -15px;
        margin-left: 245px;
        border-radius: 0px;
    }